<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhukaige.dao.ArticleMapper">

	<resultMap type="article" id="articleMapper">
		<id column="id" property="id"/>
		<association property="user" column="user_id" select="com.zhukaige.dao.UserMapper.findUserById"></association>
		<association property="channel" column="channel_id" select="com.yangjiaqi.dao.ChannelMapper.findById"></association>
		<association property="category" column="category_id" select="com.yangjiaqi.dao.CategoryMapper.findById"></association>
	</resultMap>

	<select id="newList" resultType="article">
		SELECT id,title FROM cms_article 
		WHERE deleted=0 AND status=1 
		ORDER BY created DESC  limit ${value}
	</select>
	
	<select id="hostList" resultMap="articleMapper" >
		SELECT id,title,picture,channel_id,category_id,user_id,hits,commentCnt
			FROM cms_article 
			WHERE deleted=0 AND status=1 AND hot=1
				</select>
</mapper>
